<div id="newEvent" class="f-ml-30 ">
	<h1 class="text-center f-mb-40">挥霍与发财之路</h1>
	<div class="row-fluid">
		<div class="span6 offset3">
			<form class="form-horizontal">
				<div class="control-group">
				    <div class="controls">
				        <label class="radio inline">
				         	<input type="radio" name="streamIn"> 又挥霍了
				        </label>
				        <label class="radio inline">
				         	<input type="radio" name="streamIn"> 又发财了
				        </label>			       
				    </div>
				</div>				
				<div class="control-group">
				    <label class="control-label" for="inputEmail">多少钱</label>
				    <div class="controls">
				      	<input type="text" id="inputMoney" placeholder="多少钱" >
				    </div>
				</div>
				<div class="control-group">
				    <label class="control-label" for="inputPassword">干嘛了</label>
				    <div class="controls">
				      	<textarea rows="3" cols="50" style="width:300px;" ></textarea>
				    </div>
				</div>
				<div class="control-group">
				    <div class="controls">				        
				        <button type="submit" class="btn">保存</button>
				    </div>
				</div>
			</form>
		</div>
	</div>
	
</div>
